<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DnD Bike</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>

    <body>

        <div class="ui menu">
            <div class="ui container">
                <div class="header item">
                  DnD Bike
                </div>
                <a class="item" href="/">
                  Home
                </a>
                <a class="item" href="/tables">
                  Tables
                </a>
            </div>
        </div>