<%- include("partials/header.ejs") %> 


    <div class="ui main text container">
        <div class="ui huge header">Tables</div>
        <div class="ui top attached">
            <div class="ui divided items">
                <% tables.forEach(function(table){ %> 
                    <div class="item">
                        <a href="/tables/<%= table._id %>" class="header"><%= table.title %></a>
                    </div>
                <% }) %> 
            </div>
        </div>


        
    </div>


<%- include("partials/footer.ejs") %> 